{% extends 'blog/base.html' %}

{% load static %}

{% block main %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'blog/img/home-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>مجی بلاگ</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for article in object_list %}
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' article.slug %}">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ article.description|truncatechars:50 }}
                            </h3>
                        </a>
                        <p class="post-meta">نوشته شده توسط
                            <a href="#">مجی تبا</a>
                            {{ article.jpublish }}
                        </p>
                        <div>
                            {% for cat in article.category_published.all %}
                                <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                {% if is_paginated %}
                    <div class="clearfix pager-button">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-info float-right ml-4"
                               href="{% url 'blog:home' page_obj.previous_page_number %}">&rAarr;پست های جدید </a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-info float-right"
                               href="{% url 'blog:home' page_obj.next_page_number %}">پست های قدیمی &lAarr; </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}