@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
    url('Sahel.woff2') format('woff2'),
    url('Sahel.woff') format('woff'),
    url('Sahel.ttf') format('truetype');
}

body {
    direction: rtl;
    text-align: right;
    font-family: "Sahel", cursive;
    font-size: 14px;
}

ul.navbar-nav.ml-auto {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    text-align: left;
}

.pager-button {
    float: left !important;
}

header.masthead .site-heading h1 {
    font-size: 70px !important;
    margin-top: 0;
    font-family: 'Sahel';
}

h2.post-title {
    font-family: Sahel;
    font-size: 40px !important;
}

h3.post-subtitle {
    font-family: Sahel;
    font-size: 20px !important;
}

h3.alert.alert-primary.text-center {
    font-family: Sahel;
}

a.btn.btn-outline-info.float-right {
    font-family: Sahel;
    border-radius: 5px;
}

.nav ul {
    padding-right: 0;
}

.nav ul li {
    border-bottom: none;
    height: 86px;
    line-height: 86px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin: 0 auto;
}

.nav ul li a {
    text-decoration: none;
    border-radius: 8px;
    color: #000000;
    display: block;
    transition: .3s background-color;
    padding: 0 24px;
}

.nav ul li a:hover {
    border-radius: 8px;
    background-color: #9877c7;
    color: #FFFFFF;
}

.nav a {
    border-bottom: none;
}

.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav li:hover ul {
    display: block;
}

.nav ul li ul li {
    display: block;
    float: none !important; /* newly added */
    height: auto; /* newly added */
    line-height: 34px; /* newly added */
}

.nav ul li ul li ul {
    position: absolute;
    right: 100%;
    top: 0;
    display: none !important;
}

.nav ul > li > ul > li:hover > ul {
    display: block !important;
}

.nav ul > li > ul > li > ul > li:hover > ul {
    display: block !important;
}
